<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>multiblockatoh</name>
	<displayName><![CDATA[Multi Block Arbitrary Text Or HTML]]></displayName>
	<version><![CDATA[1.1.9]]></version>
	<description><![CDATA[Add one or more blocks with arbitrary text or HTML content]]></description>
	<author><![CDATA[phrasespot]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Uninstall Multi Block Arbitrary Text or HTML?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>